{% extends "app.twig" %}
{% block content %}

    <div class="bg text-center">
        <div class="container">
            <p class="secondLine">Create New Product</p>

            <form method="post" action="/catalog/add">

                <p><a href="/catalog">
                        <button class="button2" type="button"><-</button>
                    </a>
                    <input type="submit" class="button1" value="Save">
                    <a href="/catalog/category">
                        <button class="button2" type="button">New Category</button>
                    </a>
                    <a href="/catalog/tag">
                        <button class="button2" type="button">New Tag</button>
                    </a></p>
                <table align="center" class="table" style="width: 400px;">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label for="title"> </label><input type="text" id="title" name="title"
                                                               class="InputStyle" required></td>
                        <td><select name="categoryOption">
                                {% for category in categories.categories %}
                                    <option>{{ category.title }}</option>
                                {% endfor %}
                            </select></td>

                        <td><label for="qty"> </label><input type="number" id="qty" name="qty"
                                                             class="InputStyle" required></td>
                        </td>
                    </tr>
                    <tr><td>
                            {% for tag in tags.tags %}
                                <input type="checkbox" id="{{ tag.title }}" name="{{ tag.title }}">
                                <label for="{{ tag.title }}">{{ tag.title }}</label> <br>
                            {% endfor %}
                            </select>
                        </td></tr>
                    </tbody>
                </table>

            </form>
        </div>

    </div>

{% endblock %}
