{% extends "main.twig" %}
{% block content %}

    <div class="container">
        <h2>Catalog</h2>

        <form method="post" action="/catalog/filter">
            <a href="/catalog/add">
                <button class="button2" type="button">New Product</button>
            </a> &nbsp;&nbsp;&nbsp; Category:
            <select name="categoryOption">
                {% for category in categories.categories %}
                    <option>{{ category.title }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="button2" value="Show">
            <a href="/catalog">
                <button class="button2" type="button">Show All</button>
            </a></p>

        </form>
        <p>Click on product ID to edit or remove from list.</p>
        <table class="table table-hover">
            <thead style="font-size: 13px">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Created</th>
                <th>Edited</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody style="font-size: 13px">
            {% for product in products.products %}
                <tr>
                    <td><a href="/catalog/product/{{ product.id }}">{{ product.id }}</a></td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.qty }}</td>
                    <td>{{ product.createdAt }}</td>
                    <td>{{ product.editedAt }}</td>
                    <td>{{ product.createdBy }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}